body {
    background-color: black;
    color: #f2f2f2;
}

#name {
    color: #6A6361;
}

#resumeNameJobBox {
    display: -webkit-inline-flex;
    margin: 2%;
}

#resumeJobTitle {
    color: blue;
}

#resumeSummaryTitle {
    color: blue;
}

#experienceTitle {
    color: blue;
}

#itEngineer {
    color: #6A6361;
}

#educationTitle {
    color: blue;
}

#itEngineer {
    color: #6A6361;
}

#upNCoding {
    color: #6A6361;
}

#nccc {
    color: #6A6361;
}

#snhuDegree {
    color: #6A6361;
}

#snhu {
    color: #6A6361;
}

#skills {
    color: blue;
}

#resumeContactInfo {
    margin: 2%;
    float: right;
    text-align: right;
}

#resumeJobTitle {
    color: blue;
}

#resumeSummaryBox {
    margin-left: 5%;
    margin-right: 5%;
    border-bottom: 1px solid white;
}

#resumeExperienceBox {
    width: 40%;
    display: inline-block;
    margin-left: 5%;
    margin-right: 5%;
}

#resumeEducationBox {
    width: 40%;
    display: inline-block;
    margin-left: 5%;
    margin-right: 5%;
}

#resumeSkills {
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}

#resumeSkillsTable {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid white;
}

th {
    border: 1px solid white;
}

.divLine {
    border-bottom: 1px solid white;
}